/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: #111;
  border-bottom: 1px solid #222;
}

.navbar span {
  color: #00e5ff;
}

.navbar a {
  color: #bbb;
  margin-left: 20px;
  text-decoration: none;
}

.navbar a:hover {
  color: #00e5ff;
}

/* BUTTON */
button {
  padding: 12px 30px;
  background: #00e5ff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
}

/* CARD */
.card {
  background: #151515;
  padding: 35px;
  width: 200px;
  text-align: center;
  border-radius: 14px;
  transition: 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px #00e5ff55;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #111;
  color: #777;
}